<% if signed_in? %>
	<div class="row">
		<div class="col-md-4">
			<div>
				<h1><%= current_user.name %></h1>
				<h2>Home Page</h2>
			</div>
			<div class="soundcloud-stream">
				<%= @favtracks.to_yaml %>
				
			</div>
		</div>
		<div class="col-md-8">
			<div class="center jumbotron">
				<h1>Welcome to Symphian</h1>
				<h2>This is the <a href='#'>musician</a>'s network</h2>
				<%= link_to "Edit Your Profile", user_path(current_user), class: "btn btn-primary" %>
			</div>
	<!-- 

			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#local" role="tab" data-toggle="tab">Local</a></li>
				<li><a href="#regional" role="tab" data-toggle="tab">Regional</a></li>
				<li><a href="#global" role="tab" data-toggle="tab">Global</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="local">Local local local<p>local</p><p>local Local Local local local.</p></div>
				<div class="tab-pane" id="regional">regional regional regional<p>regional</p><p>regional regional regional regional regional.</p></div>
				<div class="tab-pane" id="global">global global global<p>global</p><p>global global global global global.</p></div>
			</div> -->
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to Symphian</h1>
		<h2>This is the <a href='#'>musician</a>'s network</h2>
		<%= link_to "Sign me up", signup_path, class: "btn btn-primary" %>
		<%= link_to "Sign me in", signin_path, class: "btn btn-success" %>
	</div>
<% end %>