<li id="<%= listing.id %>" class="listing">
	<span class="title">
		<h3><%= listing.title %></h3>
	</span>
	<span class="content">
		<%= listing.description %>
	</span>
	<br>
	<span class="type_time">
		<small type="type">
			<%= listing.listing_type.name %>
		</small>	
		<small type="time">Listed by <%= link_to listing.user.name, user_path(listing.user) %> <%= time_ago_in_words(listing.created_at) %> ago.</small>
	</span>
</li>