<div class="bio_block group_zip">
	<% if false %>
		<%= render :layout => "shared/edit_modal", :locals => {:title => 'Zip'} do %>
			<%= fields_for(@user) do |f| %>
				<%= f.text_field :zip %>
				<%= f.submit "Save changes", class: "btn btn-primary" %>
			<% end %>
		<% end %>
	<% end %>
	<p><%= @group.zip %></p>
</div>