<% provide(:title, @group.name) %>
<h1><%= @group.name %></h1>
<div class="row">
	<div class="col-md-4">
		<section>
			<h1><%= @group.name %></h1>
			<h2>Group page.</h2>
		</section>
		<% if manager?(@user) %>
		<section>
			<h3>What can I do here?</h3>
			<h4>Create a group bio.</h4>
			<h4>Add new members</h4>
			<h4>Add feature such as genre and needed talents</h4>
			<h4>Only a manager can edit properties of a group - but anyone can be added as a manager</h4>
		</section>
		<% end %>
	</div>
	<div class="col-md-8">
		<div class="profile">
			<div class="bio_block">
				<h3>Zip</h3>
				<% if manager?(@user) %>
									<%= render :layout => "shared/edit_modal", :locals => {:title => 'Zip'} do %>
					<%= fields_for(@user) do |f| %>
						<%= f.text_field :zip %>
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %>
				<% end %>
				<% end %>
				<p><%= @group.zip %>
			</div>
			<div class="bio_block">
				<h3>Bio</h3>
				<% if manager?(@user) %>
					<%= render "edit_bio" %>
				<% end %>
				<p><%= @group.bio %></p>
			</div>			
			
			<div class="bio_block">
				<h3>Members</h3>
				<% if manager?(@user) %>
					<%= render "edit_member" %>
				<% end %>
				<%= render @group.members %>
			</div>

			<div class="bio_block">
				<h3>Openings</h3>
				<% if manager?(@user) %>
					<%= render "edit_opening" %>
				<% end %>
				<% @group.openings.each do |opening| %>
					<%= render opening %> | <%= link_to "delete", opening, method: :delete %>
				<% end %>
			</div>

			<div class="bio_block">
				<h3>Genre</h3>
				<% if manager?(@user) %>
					<%= render "edit_genre" %>
				<% end %>
				<%= render @group.genres %>
			</div>
		</div>
	</div>
</div>