<% provide(:title, @group.name) %>
<div class="row">
	<div class="col-md-4">
		<section>
			<h1><%= @group.name %></h1>
			<h2>Group page.</h2>
		</section>
		<section>
			<h3>What can I do here?</h3>
			<h4>Create a group bio.</h4>
			<h4>Add new members</h4>
			<h4>Add feature such as genre and needed talents</h4>
			<h4>Only a manager can edit properties of a group - but anyone can be added as a manager</h4>
		</section>
	</div>
	<div class="col-md-8">
		<section>
			<div class="profile">
				<h3>Bio</h3>
				<%= render "edit_bio" %>
				<div class="user_bio">
					<%= current_user.bio %>
				</div>
				
				<h3>Members</h3>
				<% if manager?(@user) %>
					<%= render "member_modal" %>
				<% end %>
				<ul class="list-group members">
					<% @group.members.each do |member| %>
						<li><%= member.name %></li>
					<% end %>
				</ul>

				<h3>Genres Enjoyed</h3>
				<% if manager?(@user) %>
	<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#inst-modal">edit</button>
	<% end %>
					<ul>
						<li>Classical</li>
						<li>Punk Rock</li>
						<li>Neo Pop</li>
						<li>Celtic Folk Dances</li>
					</ul>
			</div>
		</section>
	</div>
</div>