<table class="glance_table">
	<tr>
		<td class="edit_button">
				<%= render :layout => "shared/edit_modal", :locals => {:title => 'Email'} do %>
					<%= form_for(@user) do |f| %>
						<%= f.text_field :email %>
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %>
				<% end %>
				<p>Email:</p>
		</td>
		<td id="profile_zip">
			<%= @user.email %>
		</td>
	</tr>
	
	<tr>
		<td class="edit_button">
				<%= render :layout => "shared/edit_modal", :locals => {:title => 'Zip'} do %>
					<%= form_for(@user) do |f| %>
						<%= f.text_field :zip %>
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %>
				<% end %>
				<p>Zip:</p>
		</td>
		<td id="profile_zip">
			<%= @user.zip %>
		</td>
	</tr>

	<tr>
		<td class="edit_button">
			<%= render 	:layout => "shared/edit_modal", 
									:locals => { 	:id => 'inst', 
																:title => 'Select Instruments'} do %>
				<%= render "instruments/select" %>
			<% end %>
			Instruments:
		</td>
		<td>
			<%= @user.instruments.map(&:name).join(", ") %>
		</td>
	</tr>

	<tr>
		<td class="edit_button">
			<%= render 	:layout => "shared/edit_modal", 
									:locals => { 	:id => 'genre', 
																:title => 'Genres'} do %>
				<%= render "genres/select" %>
			<% end %>
			Genres:
		</td>
		<td>
			<%= @user.genres.map(&:name).join(", ") %>
		</td>
	</tr>
</table>