<div class="row">
	<div class="col-md-12">
		<dl>
			<dt>Zip</dt>
			<dd id="profile_zip">
				<%= render :layout => "shared/edit_modal", :locals => {:title => 'Zip'} do %>
					<%= form_for(@user) do |f| %>
						<%= f.text_field :zip %>
						<%= f.submit "Save changes", class: "btn btn-primary" %>
					<% end %>
				<% end %>
				<%= @user.zip %>
			</dd>

			<dt>Talents</dt>
			<dd id="profile_instruments">
				<%= render 	:layout => "shared/edit_modal", 
										:locals => { 	:id => 'inst', 
																	:title => 'Select Instruments'} do %>
					<%= render "instruments/select" %>
				<% end %>
				<%= @user.instruments.map(&:name).join(", ") %>
			</dd>

			<dt>Genres</dt>
			<dd id="profile_genres">
				<%= render 	:layout => "shared/edit_modal", 
										:locals => { 	:id => 'genre', 
																	:title => 'Genres'} do %>
					<%= render "genres/select" %>
				<% end %>
				<%= @user.genres.map(&:name).join(", ") %>
			</dd>

			<dt>Groups</dt>
			<dd id="profile_groups">
				<%= render @user.groups %>				
			</dd>
		</dl>
	</div>
</div>