<section>
	<h2>Introduction</h2>
	<%= render :layout => "shared/edit_modal", :locals => {:title => 'Bio', :id => 'bio', :btn_text => "Write about yourself"} do %>
		<%= form_for(@user) do |form| %>
			<%= form.text_area :bio %>
			<%= form.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	<% end %>	
</section>
<section>
	<p><%= @user.bio %></p>
</section>
