<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-4">
		<section>
			<h1><%= @user.name %></h1>
			<h2>Profile Page.</h2>
		</section>
		<% if current_user?(@user) %>
		<section>
			<h3>What can I do here?</h3>
			<h4>Create a bio, so people can get to know a little more about you</h4>
			<h4>Select which instruments you play and be matched up with fellow players, or maybe a group looking for your talents</h4>
			<h4>Choose your favorite generes to narrow the search even more</h4>
			<h4>Or, create a group of your own, and see how Symphian can help you find others with the talent you need</h4>
		</section>
		<section>
			<button class="btn btn-xs btn-primary">Create a group</button>
			<button class="btn btn-xs btn-primary">Join a group</button>
		</section>
		<% end %>
	</div>
	<div class="col-md-8">
		<div class="profile">
			<div class="bio_block">
				<h3>Zip</h3>
				<% if current_user?(@user) %>
					<%= render "edit_zip" %>
				<% end %>
				<p><%= @user.zip %></p>
			</div>

			<div class="bio_block">
				<h3>Bio</h3>
				<%= render "edit_bio" %>
				<p><%= @user.bio %></p>
			</div>
			
			<div class="bio_block">
				<h3>Talents</h3>
				<%= render "edit_instrument" %>
				<ul class="list-group instruments">
					<%= render @instruments %>
				</ul>
			</div>

			<div class="bio_block">
				<h3>Genres Enjoyed</h3>
				<% if current_user?(@user) %>
					<%= render "edit_genre" %>
				<% end %>
				<ul class="list-group">				
					<%= render @user.genres %>
				</ul>
			</div>

			<div class="bio_block">
				<h3>Groups</h3>
				<ul class="list-group">
					<%= render @user.groups %>
				</ul>
			</div>
		</div>
	</div>
</div>