<% provide(:title, @user.name) %>
<div id="profile">
	<div id="profile_header" class="bio_block row welcome">
		<div class="col-md-1">
			<%= image_tag @user.pic %>
			<a href="http://gravatar.com/emails"><%= gravatar_for @user %></a>
		</div>
		<div class="col-md-4">			
			<h1><%= @user.name %></h1>
			<h2>Profile</h2>
		</div>
		<div class="col-md-1 big-curly">
			{
		</div>
		<div class="col-md-6">
			<div class="glance"><%= render "glance" %></div>
		</div>
	</div> <!-- #profile_header -->
	<div id="profile_body" class="row">
		<div class="col-md-12">
			<div class="bio_block"><%= render "intro" %></div>
		</div>
	</div>
	<div id="profile_body" class="row">
		<div id="profile_bio_col" class="col-md-5">			
			<div class="bio_block"><%= render "soundcloud" %></div>
			<div class="bio_block"><%= render "youtube/youtube_player" %></div>
		</div> <!-- profile_bio_col -->
		<div id="profile_social_col" class="col-md-7">			
			<div class="bio_block"><%= render "groups" %></div>
			<div class="bio_block"><%= render "listings" %></div>
		</div> <!-- #profile_social_col -->
	</div> <!-- #profile_body -->
</div> <!-- #profile -->