<% btn_text ||= 'edit' %>
<% title ||= 'Edit' %>
<% id ||= 'edit' %>

<% if current_user?(@user) %>
	<button id="edit_button" class="btn btn-xs btn-primary btn-edit" data-toggle="modal" data-target="#<%=id%>-modal"><%= btn_text %></button>

	<div class="modal fade" id="<%=id%>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3><%=title%></h3>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<%= form_tag(@user, :method => 'patch') %>
					<%= yield %>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>