<li id="<%= listing.id %>" class="listing">
	<span class="title">
		<h3><%= listing.title %></h3>
	</span>
	<span class="type">
		<small>
			<%= listing.listing_type.name %>
		</small>
	<span class="content">
		<%= listing.description %>
	</span>
	<br>
	<span class="time">
		<small>Listed by <%= listing.user.name + " " + time_ago_in_words(listing.created_at) %> ago.</small>
	</span>
</li>